.chat-main
  .main-header
    .main-header__left-box
      %h.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list
        Member :
        %li__.main-header__left-box__member-list__member
          - @group.group_users.each do |group_user|
            = group_user.user.name

    .main-header__right-box
      =link_to "Edit",edit_group_path(@group), class: "main-header__edit-btn"
  
  .messages
    =render @messages
    .messages__box
      .messages__box__upper-info
        .messages__box__upper-info__talker
          
        .messages__box__upper-info__date
         
      %p.messages__box__text    
        
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class:"input-box__text",placeholder: "type a message"
        =f.label :image ,class:"input-box__image" do
          = icon('fas','image')
          = f.file_field :image ,class:"input-box__image__file"
      = f.submit 'Send', class: "submit-btn"